
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
    <!-- Bootstrap CSS -->
    <link href="~/Content/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/AdminTema/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/AdminTema/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminTema/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/AdminTema/css/style.css" rel="stylesheet">
    <link href="~/Content/AdminTema/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>
<body>

    <div class="container">

        <form class="login-form" method="post" action="/Admin/Giris">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="Eposta" placeholder="Email Girin" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" name="Sifre" placeholder="Şifre Girin">
                </div>
                <label class="checkbox">
                    <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>
            </div>
            <div class="alert alert-danger" role="alert">
                @ViewBag.Uyari
            </div>
        </form>
            <div class="text-right">
                <div class="credits">
                    <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
    </div>


</body>
</html>
