@model KurumsalWeb.Models.Model.Slider
@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><i class="far fa-images"></i> Slider Sil</h2>
<hr />

<section class="panel">
    <header class="panel-heading">
        Slider Sil
    </header>
    <div class="panel-body">
        <div class="alert alert-danger fade in">
            <h2><strong>@Model.Baslik</strong> İsimli Slider'i Silmek İstediğinize Eminmisiniz?</h2>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <input type="submit" value="Sil" class="btn btn-danger" />
            <a href="/Slider" class="btn btn-primary"><i class="fas fa-backward"></i> Listeye Dön</a>
        }
    </div>
</section>

